# https://aka.ms/yaml

trigger:
- master
- develop

jobs:

- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
    - script: |
        sudo apt-get install -y zlib1g-dev libbz2-dev liblzma-dev
      displayName: 'Install dependencies'
    - task: CMake@1
      inputs:
        cmakeArgs: '-DENABLE_7Z=ON -DBUILD_SAMPLES=ON ..'
      displayName: 'Generate CMake cache'
    - task: CMake@1
      inputs:
        cmakeArgs: '--build .'
      displayName: 'Build'
- job: Windows
  pool:
    vmImage: 'windows-latest'
  steps:
    - task: CMake@1
      inputs:
        cmakeArgs: '-DENABLE_7Z=ON -DBUILD_SAMPLES=ON ..'
      displayName: 'Generate CMake cache'
    - task: CMake@1
      inputs:
        cmakeArgs: '--build .'
      displayName: 'Build'
- job: MacOS
  pool:
    vmImage: 'macOS-latest'
  steps:
    - task: CMake@1
      inputs:
        cmakeArgs: '-DENABLE_7Z=ON -DBUILD_SAMPLES=ON ..'
      displayName: 'Generate CMake cache'
    - task: CMake@1
      inputs:
        cmakeArgs: '--build .'
      displayName: 'Build'
